*.ml linguist-language=OCaml
src/owl/lapacke* linguist-vendored
src/owl/cblas.h linguist-vendored
src/opencl/bindings/opencl12/* linguist-vendored
src/opencl/bindings/opencl20/* linguist-vendored
src/opencl/bindings/opencl22/* linguist-vendored
