language: c
sudo: false
services: docker

install: wget https://raw.githubusercontent.com/ocaml/ocaml-travisci-skeleton/master/.travis-docker.sh
script: bash -ex ./.travis-docker.sh

env:
  global:
    - EIGENCPP_OPTFLAGS="-Wno-ignored-attributes -O3 -Ofast -march=native -mfpmath=sse -funroll-loops -ffast-math"
    - PACKAGE="owl"
    - PINS="owl-base.master:. owl-plplot.master:. owl-top.master:. owl-zoo.master:. owl.master:."

matrix:
  include:
  # we need to use a custom setup instead of docker for osx, postponed
  # - os: osx
  #   osx_image: xcode10.1
  #   env: OCAML_VERSION=4.07
  - os: linux
    env: OCAML_VERSION=4.10 DISTRO=debian-stable
  - os: linux
    env: OCAML_VERSION=4.10 DISTRO=fedora
  - os: linux
    env: OCAML_VERSION=4.10 DISTRO=ubuntu

  fast_finish: true
  allow_failures:
    - env: OCAML_VERSION=4.10 DISTRO=ubuntu

