language: c
sudo: false
# See https://github.com/ocaml/ocaml-ci-scripts/issues/351
dist: focal
services: docker

install: wget https://raw.githubusercontent.com/ocaml/ocaml-travisci-skeleton/master/.travis-docker.sh
script: bash -ex ./.travis-docker.sh

env:
  global:
    - PACKAGE="owl"
    - PINS="owl-base.master:. owl-plplot.master:. owl-top.master:. owl-zoo.master:. owl.master:."

matrix:
  include:
  # we need to use a custom setup instead of docker for osx, postponed
  # - os: osx
  #   osx_image: xcode10.1
  #   env: OCAML_VERSION=4.07
  - os: linux
    env: OCAML_VERSION=4.10 DISTRO=debian
  - os: linux
    env: OCAML_VERSION=4.11 DISTRO=fedora
  - os: linux
    env: OCAML_VERSION=4.12 DISTRO=ubuntu
  - os: linux
    arch: arm64
    env: OCAML_VERSION=4.12 DISTRO=debian

  fast_finish: true
  allow_failures:
    - env: OCAML_VERSION=4.12 DISTRO=debian
