language: c
sudo: false
services: docker

install:
  - wget https://raw.githubusercontent.com/ocaml/ocaml-ci-scripts/master/.travis-docker.sh

script:
  - bash ./.travis-docker.sh

env:
  global:
    - OCAML_VERSION=4.06.0      # 4.06.1 Docker images not yet available
    - PACKAGE="owl"
    - PINS="owl-base:."
    - PRE_INSTALL_HOOK="cd /home/opam/opam-repository && git pull origin master && opam update -uy"
  matrix:
    - DISTRO=alpine
    - DISTRO=centos-7
    - DISTRO=fedora-25
    - DISTRO=opensuse-42.2
    - DISTRO=ubuntu-14.04       # opam-repository travis
    - DISTRO=ubuntu-16.04
